.card 
{
	width: 32%;
	margin-left: 1%;
}

.search
{
	width: 100%;
	margin-top: 11%;
}
.plusandminus
{
	width: 40%;

}

.btn-outline-primary1
{
	color:#007bff;
	border-color:#007bff
}
.btn-outline-primary1:hover
{
	color:#fff;
	background-color:#84888c;
	border-color:#84888c
}

.perenos-hyphens {
-moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
} 
.btn-outline-primary2
{
	width: 100%;

}

.btn-outline-primary2:hover
{
	width: 100%;
	color:#000000;
	background-color:#d7dbde;
	border-color:#d7dbde

}


.btn1
{

	display:inline-block;
	font-weight:400;
	color:#212529;
	text-align:center;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:#edf0f2;
	
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	
	border-bottom: 0.5px solid #84888c;

	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out};
}





.css-19e84ej {
    font-size: 18px;
    line-height: 1.39;
}

.css-1duptnh {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
}